# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world110251487 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=copper ore
    B:overlayEnabled=true
}


world110251488 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=crea
    B:overlayEnabled=true
}


world110251489 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1471567648 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=calc
    B:overlayEnabled=true
}


world1488017303 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@im
    B:overlayEnabled=true
}


